---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/statuses.json?count=40&include_rts=false&owner_screen_name=jecrockett12&slug=doggy-inspiration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="QnNcZo4pW2Ov8AcgaV4HWzCjL", oauth_nonce="16acb1a5b58235bd711ccb0f2fa35f19",
        oauth_signature="5oH3GzDew6sLxiiyHgGP6%2B4SD%2BQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455902956", oauth_token="557354944-Oq1xg9WhAYLsy17B3KN3gpMo88pTUWrwE81uQemP",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 17:29:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - efee07b2344001a97ad1e20809a783c1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1455903291'
      X-Response-Time:
      - '57'
      X-Transaction:
      - daf03fc6c8f72054
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Feb 19 17:13:05 +0000 2016","id":700729833135845376,"id_str":"700729833135845376","text":"I
        want one! \ud83d\ude4a\ud83d\ude0d https:\/\/t.co\/99i8ySr5vL","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2403286753,"id_str":"2403286753","name":"Adorable
        Dogs","screen_name":"barks","location":"Woof Woof! ","description":"Pictures,
        videos and gifs of the most adorable dogs | Contact: @Queen | KLJTwitterMarketing@gmail.com","url":"http:\/\/t.co\/SSFDMWY80q","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/SSFDMWY80q","expanded_url":"http:\/\/favezine.com","display_url":"favezine.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":156827,"friends_count":32813,"listed_count":60,"created_at":"Sat
        Mar 22 12:39:14 +0000 2014","favourites_count":9,"utc_offset":3600,"time_zone":"Amsterdam","geo_enabled":false,"verified":false,"statuses_count":18,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F7F9FA","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/694195352187072512\/cVfHw8tz_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/694195352187072512\/cVfHw8tz_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2403286753\/1454344315","profile_link_color":"C12CC9","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":6,"favorite_count":7,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":696743708876795904,"id_str":"696743708876795904","indices":[15,38],"media_url":"http:\/\/pbs.twimg.com\/media\/CatUtjMW8AAq5NS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CatUtjMW8AAq5NS.jpg","url":"https:\/\/t.co\/99i8ySr5vL","display_url":"pic.twitter.com\/99i8ySr5vL","expanded_url":"http:\/\/twitter.com\/barks\/status\/700729833135845376\/photo\/1","type":"photo","sizes":{"large":{"w":500,"h":500,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":500,"h":500,"resize":"fit"},"small":{"w":500,"h":500,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":696743708876795904,"id_str":"696743708876795904","indices":[15,38],"media_url":"http:\/\/pbs.twimg.com\/media\/CatUtjMW8AAq5NS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CatUtjMW8AAq5NS.jpg","url":"https:\/\/t.co\/99i8ySr5vL","display_url":"pic.twitter.com\/99i8ySr5vL","expanded_url":"http:\/\/twitter.com\/barks\/status\/700729833135845376\/photo\/1","type":"photo","sizes":{"large":{"w":500,"h":500,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":500,"h":500,"resize":"fit"},"small":{"w":500,"h":500,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Feb 19 15:39:11 +0000 2016","id":700706199440908288,"id_str":"700706199440908288","text":"How
        can you be \"motivational\" if you''re out here spreading vicious lies? \n@EverythingGoats
        @CNN","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":700683129074233344,"in_reply_to_status_id_str":"700683129074233344","in_re[...]
