<h1>Here are your potential perfect pets!</h1>

<% if @pets.nil? %>
  <p>
    Sorry! We couldn't find a suitable match.
  </p>
<% else %>
  <% @pets.each do |dog| %>
    <%= link_to dog["pageUrl"] do %>
      <%= image_tag(dog["imageUrl"], class: "feed-pic") %>
    <% end %>
  <% end %>
<% end %>
