<div class="dashboard-wrapper">
  <div class="dashboard-content valign-wrapper">
    <%= image_tag(@user.image_url, class: "circle") %>
    <h2 class="valign truncate"><%= @user.name %></h2>
  </div>
  <%= link_to "Find More Perfect Pets", feed_path, class: "find-more-btn" %>
  <div class="pets-wrapper container">
    <h3>Saved Pets</h3>
    <div class="saved-pets">
      <% if @user.pets.nil? %>
        <p>
          You have no saved pets!
        </p>
      <% else %>
        <%= render 'users/pets' %>
      <% end %>
    </div>
  </div>
</div>
