<div class="">

<%= link_to "Logout", logout_path, method: :delete %>
</div>

<div class="dashboard-wrapper">
  <div class="dashboard-content valign-wrapper">
    <%= image_tag(@user.image_url, class: "circle") %>
    <h2 class="valign truncate"><%= @user.name %></h1>
  </div>
</div>
