<div class="home-wrapper valign-wrapper">
  <div class="home-content valign">
    <h1>PerfectPet</h1>
    <h2>Find the adoptable pet of your dreams.</h2>
    <%= link_to "Login with Twitter", twitter_login_path %>
  </div>
</div>
