<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">DreamDog</h1>
    <h2 class="home">Find the adoptable dog of your dreams.</h2>
    <%= link_to "Login with Twitter", twitter_login_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
