/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* GENERAL STYLING */
body {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  margin: 0 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

$darkgrayblue: #5c7482; //rgba(92, 116, 130, 100)
$grayblue: #92acb5; //rgba(146, 172, 181, 100)
$green: #bfdbbe; //rgba(191, 219, 190, 100)
$tan: #e8dfd5; //rgba(232, 223, 213, 100)
$pink: #ffd8dc; //rgba(255, 216, 220, 100)

/* HOME PAGE */
.home-wrapper {
  text-align: center;
  height: 100vh;
  background-color: $darkgrayblue;
}

.home-content {
  margin: 0 auto;
  margin-bottom: 130px;
  h1 {
    margin-bottom: 20px;
    color: $tan;
  }
  h2 {
    margin-bottom: 50px;
    color: white;
  }
  a {
    color: $pink;
    text-decoration: none;
    border: 3px solid $pink;
    border-radius: 6px;
    padding: 20px;
  }
}

/* DASHBOARD */
.dashboard-wrapper {
  height: 100vh;
  width: 100%;
  background-color: $grayblue;
  text-align: center;
}

.find-more-btn {
  color: $pink;
  text-decoration: none;
  border: 3px solid $pink;
  border-radius: 6px;
  padding: 20px;
  }

.dashboard-content {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 50px;
  width: 420px;
  img {
    min-height: 50px;
    min-width: 50px;
    float: left;
    margin-right: 20px;
  }
  h2 {
    vertical-align: middle;
  }
}

/* FEED */

.pics-wrapper {
  height: 100%;
  width: 100%;
  background-color: $darkgrayblue;
  text-align: center;
  .row {
    padding-top: 50px;
  }
  h2 {
    padding-top: 20px;
    color: $tan;
  }
}

.pic-container {
  margin: 10px;
  display: inline-block
}

.feed-pic {
  height: 250px;
}

.card-image {
  overflow: hidden;
}

/* RESULTS */

.pics-wrapper .card-content {
  width: 300px;
  background-color: $tan;
  color: $darkgrayblue;
  span {
    font-size: 20px;
  }
}

#card-actions {
  background-color: $tan;
  a {
  color: $darkgrayblue;
  font-size: 12px;
  border: 1px solid $darkgrayblue;
  border-radius: 4px;
  padding: 8px;
  }
}

#submit-btn {
  float:left;
}
